<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:utext="${title}"/>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.15/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
         table, th, td {
            border: 1px solid black;
         }
         th {
  background-color: #FF0000;
  color: white;
}
         td{
         color:blue;
         }
      </style>
</head>

<body style="background-color:#90EE90;">

<form th:action="@{/cars}" method="get">
<input id="txtSearch" type="text" name="keyword">
<button type ="submit">Go</button>
</form>
<div class="container">
    <div class="row">
        <div class="col-sm">

            <table class="table table-hover col-sm">
                <thead>
                <tr>

                    <th>Car id</th>
                    <th>BodyType</th>
                    <th>Model</th>
                    <th>FuelType</th>
                    <th>GearBox</th>
                    <th>Year of Fabrication</th>
                    <th>Motor Capacity</th>
                    <th>HorsePower</th>
                    <th>Colour</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bmwCar : ${bmwCars}">
                    <td style="background-color:#ffd184"  th:text="${bmwCar.id}">1</td>
                    <td style="background-color:#ffd1be"  th:text="${bmwCar.bodyType}">bodyType...</td>
                    <td style="background-color:#ff9999"  th:text="${bmwCar.model}">model ...</td>
                    <td style="background-color:#ab9a00"  th:text="${bmwCar.fuelType}">fuelType ...</td>
                    <td style="background-color:#ab6eac"  th:text="${bmwCar.gearBox}">gearBox ...</td>
                    <td style="background-color:#ff9d63"  th:text="${bmwCar.yearOfFabrication}">yearOfFabrication ...</td>
                    <td style="background-color:#4ff4ac"  th:text="${bmwCar.motorCapacity}">motorCapacity ...</td>
                    <td style="background-color:#fff4e2"  th:text="${bmwCar.horsePower}">horsePower ...</td>
                    <td style="background-color:#ff34e2"  th:text="${bmwCar.colour}">colour ...</td>

                </tr>
                </tbody>
            </table>
            <a  th:href="@{car1}" class="btn btn-success"> Car with id:1</a>
            <a  th:href="@{car2}" class="btn btn-success"> Car with id:2</a>
            <a  th:href="@{car3}" class="btn btn-success"> Car with id:3</a>
            <a  th:href="@{car4}" class="btn btn-success"> Car with id:4</a>
            <a  th:href="@{car5}" class="btn btn-success"> Car with id:5</a>
            <a  th:href="@{car6}" class="btn btn-success"> Car with id:6</a>
            <a  th:href="@{car7}" class="btn btn-success"> Car with id:7</a>
            <a  th:href="@{car8}" class="btn btn-success"> Car with id:8</a>
            <a  th:href="@{car9}" class="btn btn-success"> Car with id:9</a>
            <a  th:href="@{car10}" class="btn btn-success"> Car with id:10</a>
            <a  th:href="@{car11}" class="btn btn-success"> Car with id:11</a>
            <a  th:href="@{car12}" class="btn btn-success"> Car with id:12</a>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.15/dist/js/bootstrap-select.js}"></script>

</body>
</html>